[Desktop Entry]
Version=1.0
Type=Application
Name=AlgoBench
GenericName=Fundamental Algorithms Workbench
Comment=Analyze various fundamental algorithms
Exec=bash -c "cd ~/AlgoBench_App && java -jar frontEnd/AlgoBench_GUI.jar . backEnd/Algobench_Backend"
Categories=System;Algorithms;Analysis;
Icon=/tmp/icon.png
Terminal=false
